{% extends 'base_email.html' %}
{% load i18n %}

{% block body %}
<h1>
    {% blocktranslate with company_name=settings.COMPANY_NAME %}Recover password for your account with {{ company_name }}{% endblocktranslate %}
</h1>
<p>
{% blocktranslate %}To start reset your password please click the button below.{% endblocktranslate %}
</p><br />

<div style="text-align: center;">
    <a href="{{ url }}" style="background: #3273dc; color: #fff; text-decoration: none; margin-top: 10rem; padding: 0.8rem 3rem;
                border-radius: 0.5rem; display: inline;">{% blocktranslate %}Reset password{% endblocktranslate %}
    </a>
    <br />
    <br />
    {% blocktranslate%}If the button above does not work, copy the link and open it in your browser:{% endblocktranslate %}
    <br />
    <br />
    <pre>{{ url }}</pre>
</div>

<p>
{% blocktranslate %}If it wasn't you who requested the change of the password or you no longer want to change the password, merely ignore this message and keep using your account with your current password.{% endblocktranslate %}
</p>
{% endblock %}
